<template>
    <div class="hiddenBox">
            <div>
                <p>목적지</p>
                <input type="text" name="destination" value="모든 위치">
            </div>
            <div class="check_inout">
                <div class="check_in">
                    <p>체크인</p>
                    <input type="date" name="destination" value="">
                </div>
                <div class="check_out">
                    <p>체크아웃</p>
                    <input type="date" name="destination" value="">

                </div>
            </div>
            <div>
                <p>인원</p>
                <input type="text" name="destination" value="">
            </div>
            <div class="search_button">
                <button>검색</button>
            </div>
        </div>
</template>

<script>
export default {
    name: 'hiddenBox'
}
</script>

<style scoped>
.hiddenBox{
    color: #484848;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
    padding: 32px 32px 24px;
    overflow: hidden;
    display: none;
}
.hiddenBox h1{
    margin: 0;
    font-size: 30px;
}

.hiddenBox input{
    color: #767676;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    height: 48px;
}
.check_out input:last-child{
    border-left: none;
}
.hiddenBox .check_in{
    float: left;
    width: 50%;
}
.hiddenBox .check_out{
    float: left;
    width: 50%;
}

.hiddenBox p{
    font-weight: bold;
    color: #484848;
    font-size: 12px;
}
.search_button{
    text-align: right;
}
.search_button button{
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 22px;
    margin-top: 20px;
    background: #FF5A5F;
    border: none;
    border-radius: 5px;
    width: 100%;
}
@media screen and (max-width: 744px){
    .hiddenBox{
        display: flex;
        flex-direction: column;
    }
}
</style>