<template>
  <div class="luxe">
    <ul>
      <li v-for="{id,name,image} in list" :key="id">
        <div class="luxeText">
          <div>
            <i class="fab fa-airbnb"></i>
          </div>
          <div class="name">{{name}}</div>
          <div class="luxeLink">에어비앤비 Luxe 둘러보기 ></div>
        </div>
        <div class="img">
          <img :src="image" />
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
import luxe from "@/store/luxe";
export default {
  name: "luxe",
  computed: {
    list: () => luxe.luxe()
  }
};
</script>

<style scoped>
.luxe{
    position: relative;
    background-color: #F4F2EF;
    border-radius: 5px;
    display: flex;
}

.luxeText{
    padding: 48px 16px 32px 48px;
    float: left;
    width: 45%;
    font-size: 32px;
    display: block;
}
.luxeText .name{
    margin-bottom: 32px;
}
i{
    margin: 0;
}
.img{
    float: left;
    width: 55%;
    overflow: hidden;
    padding: 16px;
}
.img img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.luxeLink{
    display: inline-block;
    position: absolute;
    left: 48px;
    bottom: 40px;
    color: #460479;
    font-weight: bold;
}
@media screen and (max-width: 1128px){
    .luxeText{
        font-size: 24px;
    }
    .luxeLink{
        font-size: 16px;
    }
    .img{
        padding:0;
    }
    .img img{
        min-height: 200px;
    }
}
</style>