<template>
  <div class="arrowBox">
    <div class="leftArrow">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="placeList">
      <ul>
        <li v-for="{id,name,image} in list" :key="id">
          <div class="img">
            <img :src="image" />
          </div>
          <div class="name">{{name}}</div>
        </li>
      </ul>
    </div>
    <div class="rightArrow">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</template>
<script>
import places from "@/store/placeList";
export default {
  name: "placeList",
  computed: {
    list: () => places.takeATour()
  }
};
$(document).ready(function() {
  var placeList;
  var tourlist_position = 1;
  var width;

  placeList = $(".placeList ul");

  $(".arrowBox .leftArrow").click(function() {
    back();
  });
  $(".arrowBox .rightArrow").click(function() {
    next();
  });
  $(window).resize(function() {
    width = $(window).width();
    if (width < 729 || width > 1111) {
      check_width();
    } else {
      $(".arrowBox .leftArrow").css("display", "none");
      $(".arrowBox .rightArrow").css("display", "inherit");
    }
  });
  function check_width() {
    if (tourlist_position == 2) {
      placeList.animate({
        left: "+=33%"
      });
      tourlist_position--;
    }
    $(".arrowBox .leftArrow").css("display", "none");
    $(".arrowBox .rightArrow").css("display", "none");
  }
  function next() {
    if (tourlist_position == 1) {
      placeList.animate({
        left: "-=33%"
      });
      tourlist_position++;
      $(".arrowBox .leftArrow").css("display", "inherit");
      $(".arrowBox .rightArrow").css("display", "none");
    }
  }
  function back() {
    if (tourlist_position == 2) {
      placeList.animate({
        left: "+=33%"
      });
      tourlist_position--;
      $(".arrowBox .leftArrow").css("display", "none");
      $(".arrowBox .rightArrow").css("display", "inherit");
    }
  }
});
</script>

<style scoped>
.arrowBox{
    position: relative;
    width: 100%;
}
.rightArrow{
  position: absolute;
    right: -14px;
    padding: 8px 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: white;
    top: 50%;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
    display: none;
}
.leftArrow{
  position: absolute;
    left: -20px;
    padding: 8px 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: white;
    top: 50%;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
    display: none;
}
.placeList {
  position: relative;
  width: 100%;
  height: 72px;
  border-spacing: 0px;
  overflow: hidden;
}
ul {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}
li {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  margin-right: 12px;
}
li div {
  display: inline-block;
}
li:last-child {
  margin-right: 0;
}
li div:last-child {
  position: absolute;
  top: 32px;
  padding-left: 12px;
}
img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media screen and (max-width: 1128px) {
  ul {
    width: 133%;
  }
  .rightArrow{
    display: inherit;
  }
}
</style>