<template>
  <div class="recommendBox">
    <div class="leftArrow">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="recommend">
      <ul>
        <li v-for="{id,name,image} in list" :key="id">
          <div class="img">
            <img :src="image" />
            <div class="city">{{name}}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="rightArrow">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</template>

<script>
import recommend from "@/store/recommend";
export default {
  name: "recommend",
  computed: {
    list: () => recommend.recommend()
  }
};
$(document).ready(function() {
  var recommend;
  var recommend_position = 0;
  var width;
  recommend = $(".recommend ul");
  
  $(".recommendBox .leftArrow").click(function() {
    back_place();
  });
  $(".recommendBox .rightArrow").click(function() {
    next_place();
  });
  
  function next_place() {
    if (recommend_position < 5) {
      recommend.animate({
        left: "-=20%"
      });
      recommend_position++;
    }
    if (recommend_position == 0) {
      $(".recommendBox .leftArrow").css("display", "none");
    } else {
      $(".recommendBox .leftArrow").css("display", "inherit");
    }
    if (recommend_position == 5) {
      $(".recommendBox .rightArrow").css("display", "none");
    } else {
      $(".recommendBox .rightArrow").css("display", "inherit");
    }
  }
  function back_place() {
    if (recommend_position > 0) {
      recommend.animate({
        left: "+=20%"
      });
      recommend_position--;
    }
    if (recommend_position == 0) {
      $(".recommendBox .leftArrow").css("display", "none");
    } else {
      $(".recommendBox .leftArrow").css("display", "inherit");
    }
    if (recommend_position == 5) {
      $(".recommendBox .rightArrow").css("display", "none");
    } else {
      $(".recommendBox .rightArrow").css("display", "inherit");
    }
  }
});
</script>

<style scoped>
.recommend {
  color: white;
  overflow: hidden;
  position: relative;
  height: 250px;
}
ul {
  display: flex;
  width: 200%;
  position: absolute;
}
li {
  position: relative;
  width: 20%;
  padding-right: 12px;
}
li:last-child{
  padding-right: 0;
}
.city {
  position: absolute;
  bottom: 0;
  left: 40%;
  padding-bottom: 20px;
}
img {
  display: block;
  width: 100%;
}
.recommendBox{
    position: relative;
    width: 100%;
}
.rightArrow{
  position: absolute;
    right: -14px;
    padding: 8px 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: white;
    top: 50%;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}
.leftArrow{
  position: absolute;
    left: -20px;
    padding: 8px 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: white;
    top: 50%;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
    display: none;
}
</style>