body{
    background: rgb(61, 61, 61);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    background: black;
    background-image: url("../images/hero.png");
    background-size: 100%;
    background-position: center;
    height: 200px;
    padding: 20px;
    text-align: center;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    
}
header .mobile{
    display: none;
}

header .logo a{
    background-image: url("../images/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -99999px;
    top: -30px; 
    width: 300px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
/* RESPONSIVE RULES */
@media screen and (max-width: 720px){
    header{
        background-position: 0 -00px;
    }
    header .desktop{
        display: none;
    }
    header .mobile{
        display: inline-block;
    }
}


/* FEATURES */
.features{
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.features figure{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}
.features figure img{
    border: 1px solid white;
    border-radius: 50%;
    width: 200px;
    box-shadow: gray 0 0 10px;
}
div{
    background: pink;
    margin: auto;
    width: 100px;
}

/* RESPONSIVE RULES */



/* FOOTER */

footer{
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}
@media screen and (min-width: 500px){
    .features{
        background: pink;
    }
}

@media screen and (min-width: 720px){
    .features{
        background: red;
    }
}