<template>
<div>
    <button v-on:click="increment">button</button>
</div>
</template>
<script>
export default {
    name:'incrementbutton',
    methods:{
        increment(){
            this.$store.commit("increment");
            console.log(this.$store.state.count);
        }
    }
}
</script>
<style scoped>
button{
    font-size: 10px;
    font-weight: bold;
    color: black;
}
</style>