<template>
    <div class="maincontainer">
        <Nav />
        <div class="contents">
            <div class="header">
                <search />
            </div>
            <div class="section">
                <filterBox />
                <resultBox />
            </div>
        </div>
    </div>
</template>
<script>
import Nav from '~/components/Nav.vue'
import search from '~/components/search/search.vue'
import filterBox from '~/components/search/filterBox.vue'
import resultBox from '~/components/search/resultBox.vue'
export default {
    components:{
        Nav,
        search,
        filterBox,
        resultBox
    }
}
</script>

<style scoped>
.contents{
    padding-top: 40px;
    margin: 0 100px;
}
.section{
    margin-top: 40px;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    display: flex;
}
</style>