<template>
  <div id="app">
    <router-view name="header" />
    <router-view name="section" />
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}
ul {
  list-style: none;
}
</style>
