body{
    text-align: center;
    margin: 0;
    padding: 0;
}
.event_cont{
    background-color: black;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.event_cont ul{
    position: absolute;
    width: 500%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}
.event_cont ul li{
    float: left;
    width: 20%;
    height: 200px;
}
.event_cont ul li div{
    font-size: 64px;
    font-weight: bold;
    height: 200px;
}
.nav{
    position: absolute;
    height: 10px;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
}
.nav div{
    display: inline-block;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    width: 30px;
    height: 10px;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 1000ms;
}