<template>
  <div class="header">
    <div class="headerContent">
      <h1 class="searchText">한번에 검색하고, 쉽게 예약해보세요.</h1>
      <p class="searchText">에어위드미는 다음을 포함한 최고의 상품을 추천해드립니다.</p>
      <div class="logos">
        <img src="@/assets/viator.png" />
      </div>
      <div class="searchBox">
        <input id="searchTextField" type="text" v-model="message" @keydown.enter="goSearch"/>
        <router-link to="/search/result" tag="div">
          <i class="fas fa-search"></i>
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      message: ""
    };
  },
  mounted: function() {
    var defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(-33.8902, 151.1759),
      new google.maps.LatLng(-33.8474, 151.2631)
    );
    var input = document.getElementById("searchTextField");
    var options = {
      bounds: defaultBounds,
      types: ["(cities)"]
    };
    this.autocomplete = new google.maps.places.Autocomplete(input, options);
    this.autocomplete.addListener("place_changed", () => {
      let place = this.autocomplete.getPlace();
      let ac = place.address_components;
      let lat = place.geometry.location.lat();
      let lon = place.geometry.location.lng();
      let city = ac[0]["short_name"];
      this.$store.commit('setSearchText',`${city}`);
      this.$router.push('/search/result');
      console.log(ac);
    });
  },
  methods: {
    goSearch(){
      this.$store.commit('setSearchText',this.message);
      this.$router.push('/search/result');
    }
  }
};
</script>
<style scoped>
.header {
  background-image: url(https://picsum.photos/id/257/5184/3456);
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  background-size: 100%;
  position: relative;
}
.logos {
  margin: 12px 0px;
}
img {
  height: 50px;
}
.searchBox {
  position: relative;
}
.fa-search {
  position: absolute;
  right: 7px;
  top: 7px;
  color: #0bacff;
}
.headerContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
#searchTextField {
  color: black;
}
.searchText {
  text-shadow: 1px 1px 1px gray;
}
p {
  font-size: 12px;
  margin: 10px 0px;
}
input {
  border-radius: 3px;
  border: 0;
  height: 30px;
  width: 400px;
  background-color: white;
}
</style>