<template>
  <div class="mostSearched">
    <h2>가장 검색이 많이 된 여행지</h2>
    <p>아직 여행지를 못찾으셨나요? 한주간 가장 많이 검색이 된 여행지를 추천해드립니다.</p>
    <div class="arrowBox">
      <div class="leftArrow" @click="leftSlide()">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="destList">
        <div class="dummy"></div>
        <ul>
          <li v-for="{id,name, eng, image} in mostSearched" :key="id">
            <div class="backgroundImg" :style='{ backgroundImage: "url("+image+")"}'></div>
            <div class="filter"></div>
            <div class="destTitle">
              <div class="destNameEng">{{ eng }}</div>
              <div class="destName">{{ name }}</div>
              <div class="goDetail">보러가기</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="rightArrow" @click="rightSlide()">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "mostSearched",
  computed: {
    mostSearched() {
      var destList;
      destList = this.$store.getters.mostSearched;
      return destList;
    }
  },
  mounted: function() {
    var ulWidth = $(".mostSearched .destList ul");
    var leftArrow = $(".mostSearched .leftArrow");
    ulWidth.css(
      "width",
      (this.$store.getters.mostSearched.length / 4) * 100 + "%"
    );
    leftArrow.css("opacity", 0.2);
    //console.log(this.$store.getters.destPosition);
  },
  beforeDestroy: function() {},
  methods: {
    rightSlide() {
      var destList = $(".destList ul");
      var leftArrow = $(".mostSearched .leftArrow");
      var rightArrow = $(".mostSearched .rightArrow");
      if (
        1 <= this.$store.getters.destPosition &&
        this.$store.getters.destPosition <=
          this.$store.getters.mostSearched.length - 4
      ) {
        destList.animate({
          left: "-=25%"
        });
        this.$store.commit("destRight");
      }
      console.log(this.$store.getters.destPosition);
      if (this.$store.getters.destPosition == 1) {
        leftArrow.css("opacity", 0.2);
      } else {
        leftArrow.css("opacity", 1);
      }
      if (
        this.$store.getters.destPosition >
        this.$store.getters.mostSearched.length - 4
      ) {
        rightArrow.css("opacity", 0.2);
      } else {
        rightArrow.css("opacity", 1);
      }
    },
    leftSlide() {
      var destList = $(".destList ul");
      var leftArrow = $(".mostSearched .leftArrow");
      var rightArrow = $(".mostSearched .rightArrow");
      if (
        1 < this.$store.getters.destPosition &&
        this.$store.getters.destPosition <=
          this.$store.getters.mostSearched.length - 3
      ) {
        destList.animate({
          left: "+=25%"
        });
        this.$store.commit("destLeft");
      }
      console.log(this.$store.getters.destPosition);
      if (this.$store.getters.destPosition == 1) {
        leftArrow.css("opacity", 0.2);
      } else {
        leftArrow.css("opacity", 1);
      }
      if (
        this.$store.getters.destPosition >
        this.$store.getters.mostSearched.length - 4
      ) {
        rightArrow.css("opacity", 0.2);
      } else {
        rightArrow.css("opacity", 1);
      }
    }
  }
};
</script>

<style scoped>
h2 {
  margin: 20px 0 10px;
}
p {
  margin-bottom: 10px;
  font-size: 12px;
  color: #949494;
}
.destList {
  position: relative;
  width: 100%;
  height: 100%;
  border-spacing: 0px;
  overflow: hidden;
}
.dummy {
  width: 25%;
  margin-top: 33%;
}
.arrowBox {
  position: relative;
  width: 100%;
}
.rightArrow {
  position: absolute;
  right: -35px;
  padding: 8px 12px;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  font-size: 200%;
  z-index: 1;
}
.leftArrow {
  position: absolute;
  left: -45px;
  padding: 8px 12px;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  font-size: 200%;
  z-index: 1;
}
ul {
  width: 125%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  padding: 0;
}
li {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  margin-right: 12px;
  color: white;
  position: relative;
  overflow: hidden;
}
.filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
img {
  margin-top: -5%;
}
.destTitle {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 166px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.destName {
  font-size: 20px;
}
.destNameEng {
  font-size: 12px;
}
.goDetail {
  color: black;
  display: inline-block;
  padding: 5px 20px;
  margin-top: 10px;
  background-color: #febd11;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}
.backgroundImg{
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
}
.fas {
  color: #8d8d8d;
}
</style>