<template>
  <div class="nav">
    <router-link to="/" tag="div"><div class="logo">Airwith.me</div></router-link>
    <div class="navItem">
      <ul>
        <li>위시리스트</li>
        <li>회원가입</li>
        <li>로그인</li>
      </ul>
    </div>
  </div>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
.nav {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 38px;
  padding: 0px 100px;
  padding-left: 140px;
  font-size: 14px;
  box-shadow: 0 1px 0px 0px rgb(180, 180, 180);
  z-index: 30;
}
.logo {
  float: left;
  margin: 4px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: #1CA4DE
}
.navItem{
    float: right;
}
ul {
  list-style: none;
  display: flex;
}
li {
    margin: 12px;
    margin-left: 0;
    padding-right: 10px;
    border-right: 1px solid gray;
    font-size: 8px;
}
li:last-child{
    border: none;
}
</style>