<template>
  <div class="popularActivity">
    <div class="sortOrder">인기 액티비티</div>
    <div class="arrowBox">
      <div class="leftArrow" @click="leftSlide()">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="popularActivityList">
        <div class="dummy"></div>
        <ul>
          <li v-for="(item, index) in popularActivityList" :key="item.id">
            <div class="wish" @click="checkWish(index)">
              <i class="fas fa-heart"></i>
            </div>
            <div class="wish checked" v-if="item.wish" @click="checkWish(index)">
              <i class="fas fa-heart"></i>
            </div>
            <div class="backgroundImg" :style='{ backgroundImage: "url("+item.image+")"}'></div>
            <div class="productInfo">
              <div class="name">{{ item.name }}</div>
              <div class="sub">{{ item.sub }}</div>
              <div class="hash">
                  <div class="hashChild" v-for="{name, index} in item.hash" :key="index">#{{ name }}</div>
                </div>
              <div class="price">{{ item.price | comma }}&#8361;</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="rightArrow" @click="rightSlide()">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "popularActivity",
  computed: {
    popularActivityList() {
      var popular;
      popular = this.$store.getters.popularActivityList;
      return popular;
    }
  },
  mounted: function() {
    var ulWidth = $(".popularActivityList ul");
    var leftArrow = $(".popularActivity .leftArrow");
    var popularActivityList = this.$store.getters.popularActivityList;

    ulWidth.css("width", (popularActivityList.length / 3) * 100 + "%");
    leftArrow.css("opacity", 0.2);
  },
  methods: {
    rightSlide() {
      var popularActivityList = $(".popularActivityList ul");
      var leftArrow = $(".popularActivity .leftArrow");
      var rightArrow = $(".popularActivity .rightArrow");
      if (
        1 <= this.$store.getters.popularActivityPosition &&
        this.$store.getters.popularActivityPosition <=
          this.$store.getters.popularActivityList.length - 3
      ) {
        popularActivityList.animate({
          left: "-=33%"
        });
        this.$store.commit("popularActivityRight");
      }
      console.log(this.$store.getters.popularActivityPosition);
      if (this.$store.getters.popularActivityPosition == 1) {
        leftArrow.css("opacity", 0.2);
      } else {
        leftArrow.css("opacity", 1);
      }
      if (
        this.$store.getters.popularActivityPosition >
        this.$store.getters.popularActivityList.length - 3
      ) {
        rightArrow.css("opacity", 0.2);
      } else {
        rightArrow.css("opacity", 1);
      }
    },
    leftSlide() {
      var popularActivityList = $(".popularActivityList ul");
      var leftArrow = $(".popularActivity .leftArrow");
      var rightArrow = $(".popularActivity .rightArrow");
      if (
        1 < this.$store.getters.popularActivityPosition &&
        this.$store.getters.popularActivityPosition <=
          this.$store.getters.popularActivityList.length - 2
      ) {
        popularActivityList.animate({
          left: "+=33%"
        });
        this.$store.commit("popularActivityLeft");
      }
      console.log(this.$store.getters.popularActivityPosition);
      if (this.$store.getters.popularActivityPosition == 1) {
        leftArrow.css("opacity", 0.2);
      } else {
        leftArrow.css("opacity", 1);
      }
      if (
        this.$store.getters.popularActivityPosition >
        this.$store.getters.popularActivityList.length - 3
      ) {
        rightArrow.css("opacity", 0.2);
      } else {
        rightArrow.css("opacity", 1);
      }
    },
    checkWish(index) {
      console.log(index);
      this.$store.getters.popularActivityList[index].wish = !this.$store.getters
        .popularActivityList[index].wish;
    }
  }
};
</script>

<style scoped>
.name {
  font-weight: bold;
  font-size: 18px;
}
.sub {
  font-size: 14px;
}
.price {
  font-weight: bold;
  font-size: 28px;
  display: inline-block;
}
.productInfo {
  margin: 0 12px 12px 12px;
}
.wish {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2px 4px;
  border-radius: 50%;
  color: #bababa;
}
.checked {
  color: #fe4c5a;
  z-index: 3;
}
.sortOrder {
  display: inline-block;
  color: #42a5f5;
  font-size: 12px;
  font-weight: bold;
  border-bottom: solid 2px #42a5f5;
  margin-bottom: 5px;
  margin-top: 50px;
}
.backgroundImg{
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  background-size: 100%;
}
.popularActivityList {
  position: relative;
  width: 100%;
  height: 100%;
  border-spacing: 0px;
  overflow: hidden;
}
.dummy {
  margin-top: 40%;
}
.arrowBox {
  position: relative;
  width: 100%;
}
.rightArrow {
  position: absolute;
  right: -35px;
  padding: 8px 12px;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  font-size: 200%;
  z-index: 1;
}
.leftArrow {
  position: absolute;
  left: -45px;
  padding: 8px 12px;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  font-size: 200%;
  z-index: 1;
}
ul {
  width: 125%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  padding: 0;
}
li {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  margin-right: 12px;
  color: black;
  position: relative;
  overflow: hidden;
}
.hashChild {
  display: inline-block;
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 3px 6px;
  margin: 3px;
  font-size: 12px;
  font-weight: bold;
}
.fa-chevron-right,
.fa-chevron-left {
  color: #8d8d8d;
}
</style>