<template>
  <div class="recommendActivity">
    <h1>이런 상품은 어떠세요?</h1>
    <p>새로운 액티비티를 소개해드립니다.</p>
    <div class="recommend" v-for="item in recommendActivity" :key="item.id" :style='{ backgroundImage: "url("+item.image+")"}'>
        <div class="textBox">
            <div class="name">{{ item.name }}</div>
            <div class="goLook">보러가기</div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "recommendActivity",
  computed: {
    recommendActivity() {
      var recommendActivity;
      recommendActivity = this.$store.getters.recommendActivity;
      return recommendActivity;
    }
  },
  mounted: function(){

  },
  methods:{
      setBackgroundImg(){

      }
  }
};
</script>

<style scoped>
.recommendActivity {
  text-align: center;
  margin: 50px 0px;
}
.recommend{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  margin: 20px 0px;
}
.textBox{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.name{
    font-size: 32px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #b6b6b6;
    color: white;
    margin: 10px 0;
}
.goLook{
    color: white;
    font-size: 12px;
    background-color: #039ADA;
    display: inline-block;
    padding: 5px 20px;
}
h1 {
  margin: 20px 0px;
}
p {
  font-size: 12px;
}
</style>
