body{
    margin: 0;
    padding: 0;
    word-break: keep-all;
}
ul,li{
    list-style: none;
}
*{
    box-sizing: border-box;
    font-family: Georgia, "맑은 고딕", sans-serif;
}
/* HEADER */

header{
    background-image: url("http://placeimg.com/640/360/arch");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    padding: 0px;
    text-align: right;
    position: relative;
    color: white;
}

header a{
    text-decoration: none;   
    color: white;
    padding: 30px 10px;
}
nav a:hover{
    border-bottom: 2px solid white;
}
nav{
    height: 80px;
    text-align: right;
    display: inherit;
}
nav div{
    font-weight: bold;
    font-size: 14px;
    padding: 33px 5px;
    display: inline-block;
}

.logo{
    position: absolute;
    left: 0;
}
.burger{
    display: none;
    position: relative;
    width: 73px;
    text-align: left;
    z-index: 15;
}
.fa-airbnb{
    font-size: 37px;
    margin: 25px;
    margin-right: 5px;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease;
}
.fa-chevron-up{
    font-size: 12px;
    position: absolute;
    transform: translateY(-50%);
    transform: rotate(180deg);
    top: 50%;
    right: 0;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}
.fa-chevron-up.Animate{
    transition: 1s linear;
}
.header_container{
    height: 475px;
    text-align: left;
    padding: 0 120px;
}
.header_tail{
    font-size: 14px;
    padding:24px;
    width: 180px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}
.hidden_nav{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
    background-color: white;
    font-size: 16px;
    color: rgb(72, 72, 72);
    z-index: 10;
    overflow: hidden;
    height: 0;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.hidden_nav ul{
    padding: 88px 24px 24px;
}
.hidden_nav ul li div{
    padding: 12px 0;
}
.hidden_nav ul li div div{
    margin: 0;
    padding: 0;
}
.partition{
    margin: 16px 0px;
    height: 0px;
    border-width: 1px 0px 0px;
    border-top: 1px solid rgb(235, 235, 235);
}
.fa-home{
    float: right;
    font-size: 250%;
}
.header_hidden{
    text-align: left;
    color: white;
    position: absolute;
    bottom: 0;
    display: none;
}
.search_box{
    color: #484848;
    background-color: #FFFFFF;
    width: 375px;
    height: 425px;
    padding: 32px 32px 24px;
    border-radius: 4px;
}
.search_box h1{
    margin: 0;
    font-size: 30px;
}
.search_box .check_in{
    float: left;
    width: 50%;
}
.search_box .check_out{
    float: left;
    width: 50%;
    
}
.search_box input{
    color: #767676;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    height: 48px;
    margin:-4px;
}
.search_box p{
    font-weight: bold;
    color: #484848;
    font-size: 12px;
}
header .search_button{
    text-align: right;
}
header .search_button button{
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 22px;
    margin-top: 20px;
    background: #FF5A5F;
    border: none;
    border-radius: 5px;
}
/* RESPONSIVE RULES */
@media screen and (max-width: 1128px){
    nav a{
        display: none;
    }
}
@media screen and (max-width: 744px){
    header{
        height: 220px;
    }
    .header_container{
        display: none;
    }
    .header_tail{
        display: none;
    }
    .header_hidden{
        display: block;
    }
}

/* SECTION */

.mobile_search_box{
    color: #484848;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
    padding: 32px 32px 24px;
    overflow: hidden;
    display: none;
}
.mobile_search_box h1{
    margin: 0;
    font-size: 30px;
}

.mobile_search_box input{
    color: #767676;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    height: 48px;
}
.check_out input:last-child{
    border-left: none;
}
.mobile_search_box .check_in{
    float: left;
    width: 50%;
}
.mobile_search_box .check_out{
    float: left;
    width: 50%;
}

.mobile_search_box p{
    font-weight: bold;
    color: #484848;
    font-size: 12px;
}
section .search_button{
    text-align: right;
}
section .search_button button{
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 22px;
    margin-top: 20px;
    background: #FF5A5F;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.section_container{
    padding: 0 40px;
    margin: 32px 0;
}
.arrow_box{
    position: relative;
    width: 100%;
    height: 106px;
}
.take_a_tour{
    position: relative;
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    overflow: hidden;
}
.take_a_tour .right_arrow{
    display: none;
}
.right_arrow{
    position: absolute;
    right: -14px;
    padding: 8px 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: white;
    top: 50%;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}
.left_arrow{
    position: absolute;
    display: none;
    left: -20px;
    padding: 8px 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: white;
    top: 50%;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}
.take_a_tour ul{
    display: flex;
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.take_a_tour ul li,.place ul li{
    width: 100%;
    margin-right: 20px;
}
.take_a_tour ul li:last-child{
    margin-right: 0;
}
.take_a_tour div{
    text-align: left;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
    margin: 0 15px 0 0;
}
.take_a_tour div:last-child{
    margin: 0;
}
.take_a_tour div div{
    border:none;
}
.take_a_tour div div:first-child{
    display: table-cell;
    vertical-align: middle;
}
.take_a_tour div div:first-child img{
    vertical-align: middle;
}
.take_a_tour div div:last-child{
    font-weight: 800;
    padding-left: 10px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.luxe{
    position: relative;
    background-color: #F4F2EF;
    border-radius: 5px;
    display: flex;
}

.luxe_text{
    padding: 48px 16px 32px 48px;
    float: left;
    width: 45%;
    font-size: 32px;
}
.luxe_text .text{
    margin-bottom: 32px;
}
.luxe i{
    margin: 0;
}
.luxe_img{
    float: left;
    width: 55%;
    height: 100%;
    margin: 16px;
}
.luxe_img div{
    overflow: hidden;
    background-image: url("http://placeimg.com/1000/375/nature");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 248px;
    border-radius: 2px;
    padding-bottom: 37.5%;
}
.luxe_link{
    display: inline-block;
    position: absolute;
    left: 48px;
    bottom: 40px;
    color: #460479;
    font-weight: bold;
}
.recommend .place{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.place ul{
    width: 200%;
    display: flex;
    position: absolute;
    padding: 0;
}
.recommend_box{
    position: relative;
    height: 256px;
}
.recommend_box .right_arrow{
    right: 0;
}
.recommend .place ul li div{
    position: relative;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin-right: 16px;
}
.recommend .place div div:first-child{
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 220px;
    border-radius: 2px;
    padding-bottom: 125%;
}
.recommend .recommend_box .place ul li:nth-child(1) div div:first-child{
    background-image: url("http://placeimg.com/180/220/arch");
}
.recommend .recommend_box .place ul li:nth-child(2) div div:first-child{
    background-image: url("http://placeimg.com/180/220/nature");
}
.recommend .recommend_box .place ul li:nth-child(3) div div:first-child{
    background-image: url("http://placeimg.com/180/220/people");
}
.recommend .recommend_box .place ul li:nth-child(4) div div:first-child{
    background-image: url("http://placeimg.com/180/220/tech");
}
.recommend .recommend_box .place ul li:nth-child(5) div div:first-child{
    background-image: url("http://placeimg.com/180/220/animals");
}
.recommend .recommend_box .place ul li:nth-child(6) div div:first-child{
    background-image: url("http://placeimg.com/180/220/animals");
}
.recommend .recommend_box .place ul li:nth-child(7) div div:first-child{
    background-image: url("http://placeimg.com/180/220/animals");
}
.recommend .recommend_box .place ul li:nth-child(8) div div:first-child{
    background-image: url("http://placeimg.com/180/220/animals");
}
.recommend .recommend_box .place ul li:nth-child(9) div div:first-child{
    background-image: url("http://placeimg.com/180/220/animals");
}
.recommend .recommend_box .place ul li:nth-child(10) div div:first-child{
    background-image: url("http://placeimg.com/180/220/animals");
}
.recommend .place div div:last-child{
    position: absolute;
    bottom:34px;
}
/* RESPONSIVE RULES */
@media screen and (max-width: 1128px){
    .logo a{
        display: none;
    }
    .burger{
        display: inherit;
    }
    .right_arrow{
        display: inherit;
    }
    .take_a_tour ul{
        width: 133%;
    }
    .luxe_text{
        font-size: 24px;
    }
    .luxe_link{
        font-size: 16px;
    }
    .luxe_img{
        margin:0;
    }
    .luxe_img div{
        min-height: 200px;
    }
    .recommend .place div:nth-child(5){
        display: none;
    }
}
@media screen and (max-width: 744px){
    .mobile_search_box{
        display: flex;
        flex-direction: column;
    }
    .right_arrow{
        display: none;
    }
    .left_arrow{
        display: none;
    }
    .arrow_box{
        height:200px;
    }
    .take_a_tour ul{
        width: 100%;
    }
    .take_a_tour div{
        display: inline-block;
        width: 140px;
    }
    .take_a_tour div div:first-child{
        width: 100%;
        position: relative;
        display: inline-block;
    }
    .take_a_tour div div:first-child img{
        width: 100%;
    }
    .take_a_tour div div:last-child{
        width: 100%;
        position: relative;
        display: inline-block;
        padding: 10px;
    }
    .luxe{
        flex-direction: column-reverse;
    }
    .luxe_text{
        width: 100%;
        font-size: 20px;
        padding: 0;
        margin: 24px;
    }
    .luxe_img{
        width: 100%;
    }
    .luxe_img div{
        padding-bottom: 67.5%
    }
    .luxe_link{
        position: static; 
    }
    .recommend .place div:nth-child(4){
        display: none;
    }
}
@media screen and (max-width: 580px){
    .recommend .place div:nth-child(3){
        display: none;
    }
}
@media screen and (max-width: 380px){
    .recommend .place div:nth-child(2){
        display: none;
    }
}
