<template>
    <div class="hiddenNav">
            <ul>
                <li>
                    <div>홈</div>
                </li>
                <li class="partition"></li>
                <li>
                    <div>친구 초대하기</div>
                    <div>호스트 추천</div>
                    <div>에어비앤비 비즈니스 프로그램</div>
                </li>
                <li class="partition"></li>
                <li>
                    <div>
                        숙소 등록하기<i class="fas fa-home"></i>
                        <div>한 달에 최대 ￦{{monthlyIncome}}의 수익을 올려보세요</div>
                    </div>
                    <div>숙소 호스팅에 관해 알아보기</div>
                    <div>
                        트립 호스팅
                        <div>좋아하는 일을 부업으로 삼아보세요</div>
                    </div>
                </li>
                <li class="partition"></li>
                <li>
                    <div>도움말</div>
                    <div>회원 가입</div>
                    <div>로그인</div>
                </li>
            </ul>
        </div>
</template>

<script>
import monthlyIncome from '@/store/monthlyIncome'
export default {
  name: "hiddenNav",
  computed:{
      monthlyIncome: () => monthlyIncome.monthlyIncome()
  }
};
</script>

<style scoped>
.hiddenNav{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
    background-color: white;
    font-size: 16px;
    color: rgb(72, 72, 72);
    z-index: 10;
    overflow: hidden;
    height: 0;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.hiddenNav ul{
    padding: 88px 24px 24px;
}
.hiddenNav ul li div{
    padding: 12px 0;
}
.hiddenNav ul li div div{
    margin: 0;
    padding: 0;
}
.partition{
    margin: 16px 0px;
    height: 0px;
    border-width: 1px 0px 0px;
    border-top: 1px solid rgb(235, 235, 235);
}
.fa-home{
    float: right;
    font-size: 250%;
}
</style>