<template>
  <nav>
    <div class="logo">
      <i class="fab fa-airbnb"></i>
    </div>
    <div class="burger">
      <i class="fab fa-airbnb"></i>
      <i class="fas fa-chevron-up"></i>
    </div>
    <ul>
      <li>숙소 호스팅</li>
      <li>트립 호스팅</li>
      <li>도움말</li>
      <li>회원 가입</li>
      <li>로그인</li>
    </ul>
  </nav>
</template>
<script>
export default {
  name: "Navigation"
};
$(document).ready(function() {
  var logo;
  var logo_position = 0;
  logo = $(".burger");
  $(logo).click(function() {
    bring_nav();
  });
  function bring_nav() {
    if (logo_position == 0) {
      $(".burger .fa-chevron-up").css("transform", "rotate(" + 0 + "deg)");
      $(".burger .fa-airbnb").css("color", "rgb(255, 90, 95)");
      $(".burger .fa-chevron-up").css("color", "rgb(118, 118, 118)");
      $(".hiddenNav").css("height", "100%");
      $(".section").css("display", "none");
      logo_position++;
    } else if (logo_position == 1) {
      $(".burger .fa-chevron-up").css("transform", "rotate(" + 180 + "deg)");
      $(".burger .fa-airbnb").css("color", "white");
      $(".burger .fa-chevron-up").css("color", "white");
      $(".hiddenNav").css("height", "0");
      $(".section").css("display", "inherit");
      logo_position--;
    }
  }
});
</script>

<style scoped>
nav {
  position: relative;
  height: 100px;
  padding: 20px;
}
.burger {
  display: none;
  position: relative;
  width: 73px;
  text-align: left;
  z-index: 15;
}
.fa-airbnb{
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease;
}
.fa-chevron-up{
    font-size: 12px;
    position: absolute;
    transform: translateY(-50%);
    transform: rotate(180deg);
    top: 50%;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}
.fa-chevron-up.Animate{
    transition: 1s linear;
}
.logo {
  position: absolute;
  left: 0;
  padding: 0px 10px 10px 10px;
}
.fa-airbnb {
  font-size: 40px;
}
ul {
  float: right;
}
li {
  float: left;
  padding: 10px;
  height: 50px;
}
li:hover {
  border-bottom: solid 3px;
}
@media screen and (max-width: 1128px) {
  nav ul,
  .logo {
    display: none;
  }
  .burger {
    display: inherit;
  }
}
</style>