<template>
  <div class="arrowBox">
    <div class="leftArrow">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="rightArrow">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</template>

<script>
export default {
    name: 'arrowBox'
}
</script>

<style scoped>
.arrowBox{
    position: relative;
    width: 100%;
}
.rightArrow{
  position: absolute;
    right: -14px;
    padding: 8px 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: white;
    top: 50%;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}
.leftArrow{
  position: absolute;
    left: -20px;
    padding: 8px 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: white;
    top: 50%;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}
</style>