html,body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #F7F7F7;
    padding: 10px;
}
header{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px; 
}
strong{
    font-size: 20px;
}
.container{
    width: 90%;
    margin:auto;
}
input{
    border: 1px solid #EDEDED
}
.new_product{
    display: flex;
    flex:1;
    border: 1px solid #EDEDED;
    border-radius: 3px;
    flex-direction: column;
    margin-bottom: 25px;
}
.comp_background{
    background-color: #F7F7F7;
}
.comp_border{
    padding:20px;
}
.comp_head{
    border-bottom: 1px solid #EDEDED;
}
.product_add_btn{
    border: #007AFF;
    border-radius: 3px;
    background-color: #007AFF;
    color:#fff;
    float: right;
}
input{
    padding: 7px;
}

.inner_table{
    width: 100%;
    border-collapse: collapse;
}
.title_bar{
    padding-right: 10px;
}
td{
    padding: 10px;
}
tr{
    border-top: 1px solid #EDEDED;
}

#th{
    background-color: whitesmoke;
    border-bottom: 1px solid #EDEDED;
}
.table_title{
    font-weight: bold;
    border-bottom: 3px solid #EDEDED;
}
.active{
    color: black;
}
.disable{
    color: #979392;
}
i{
    color:#0873FF;
}