<template>
  <div class="product" v-if="item" key="product">
    <h1>{{detail.name}}</h1>
    <nav class="nav">
      <router-link :to="{name: 'product-home'}">상품 상세</router-link>
      <router-link :to="{name: 'product-review'}">리뷰</router-link>
    </nav>
    <h1>상품 정보</h1>
    <p>이 페이지는 ID.{{ id }}의 상세 정보를 출력합니다.</p>
    <dl class="product-table">
      <dt>상품 이름</dt>
      <dd>{{ item.name }}</dd>
      <dt>가격</dt>
      <dd>{{ item.price }}원</dd>
      <dt>상품 설명</dt>
      <dd>{{ item.content }}</dd>
    </dl>
  </div>
  <div v-else key="loading">상품 정보를 읽어 들이고 있습니다...</div>
</template>
<script>
/* eslint-disable */
import products from '@/api/products.js'
import {mapGetters} from 'vuex'
export default {
  props: { id: Number },
  computed: mapGetters('product',['detail']),
  data() {
    return {
      item: null
    }
  },
  watch: {
    id: {
      handler() {
        this.$store.dispatch('product/load', this.id)
      },
      immediate: true
    }
  },
  beforeDestroy(){
    this.$store.dispatch('product/destroy')
  }
}
</script>