<template>
  <div id="app">
    <img src="./assets/logo.png" />
    <HelloWorld />
    <incrementbutton />
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld";
import incrementbutton from "./components/button";
export default {
  name: "App",
  components: {
    HelloWorld,
    incrementbutton
  },
  created() {
    console.log(this.$store.state.count);
    this.$store.commit("increment");
    console.log(this.$store.state.count);
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
