<template>
  <header id="header">
    <router-view name="hiddenNav"/>
    <router-view name="nav"/>
    <div class="SearchBox">
      <h1>특색 있는 숙소와 즐길 거리를 예약하세요.</h1>
      <div>
        <p>목적지</p>
        <input type="text" name="destination" value="모든 위치" />
      </div>
      <div class="check_in">
        <p>체크인</p>
      </div>
      <div class="check_out">
        <p>체크아웃</p>
      </div>
      <div class="check_inout">
        <div class="check_in">
          <input type="date" name="destination" value />
        </div>
        <div class="check_out">
          <input type="date" name="destination" value />
        </div>
      </div>
      <div>
        <p>인원</p>
        <input type="text" name="destination" value />
      </div>
      <div class="search_button">
        <button>검색</button>
      </div>
    </div>
    <div class="header_tail">
      <p>오리건에 있는 300개 이상의 독특한 숙소</p>
    </div>
    <div class="header_hidden">
            <h1>특색 있는 숙소와 즐길 거리를 예약하세요.</h1>
        </div>
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#header {
  height: 800px;
  background-image: url("http://placeimg.com/1920/1080/arch");
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
}
.SearchBox {
  color: #484848;
  background-color: #ffffff;
  width: 375px;
  height: 425px;
  padding: 32px 32px 24px;
  margin-top: 24px;
  margin-left: 32px;
  border-radius: 4px;
}
.SearchBox h1 {
  margin: 0;
  font-size: 30px;
}
.SearchBox .check_in {
  float: left;
  width: 50%;
}
.SearchBox .check_out {
  float: left;
  width: 50%;
}
.SearchBox input {
  color: #767676;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  height: 48px;
  margin: -4px;
}
.SearchBox p {
  font-weight: bold;
  color: #484848;
  font-size: 12px;
  padding: 10px 0px;
}
header .search_button {
  text-align: right;
}
header .search_button button {
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 22px;
  margin-top: 20px;
  background: #ff5a5f;
  border: none;
  border-radius: 5px;
}
.header_tail{
    font-size: 14px;
    padding:24px;
    width: 180px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}
.header_hidden{
    text-align: left;
    color: white;
    position: absolute;
    bottom: 0;
    display: none;
}
@media screen and (max-width: 744px){
    #header{
        height: 220px;
    }
    .SearchBox{
        display: none;
    }
    .header_tail{
        display: none;
    }
    .header_hidden{
        display: block;
    }
}
</style>
