<template>
<div class="section">
    <router-view name="hiddenBox"/>
    <div class="contents">
    <h3>에어비앤비 둘러보기</h3>
    <router-view name="takeATour"/>
    <h3>에어비앤비 Luxe를 만나보세요.</h3>
    <router-view name="luxe"/>
    <h3>추천 여행지</h3>
    <router-view name="recommend"/>
    </div>
</div>
</template>

<script>
export default {
    name: 'Section'
}
</script>

<style scoped>
h3{
    margin: 18px 0px;
}
.contents{
    margin: 0px 40px;
}
</style>