<template>
  <section class="main">
    <Nav />
    <div class="HeaderContent">
      <HeaderContent />
    </div>
    <div class="mainContants">
      <div class="slideLists">
        <mostSearched />
        <recentlyClicked />
        <mostCheckedWishlist />
        <popularActivity />
      </div>
      <recommendActivity />
    </div>
  </section>
</template>

<script>
import Nav from "~/components/Nav.vue";
import HeaderContent from "~/components/HeaderContent.vue";
import mostSearched from "~/components/mostSearched.vue";
import recentlyClicked from "~/components/recentlyClicked.vue";
import mostCheckedWishlist from "~/components/mostCheckedWishlist.vue";
import popularActivity from "~/components/popularActivity.vue";
import recommendActivity from "~/components/recommendActivity.vue";
export default {
  components: {
    Nav,
    HeaderContent,
    mostSearched,
    recentlyClicked,
    mostCheckedWishlist,
    popularActivity,
    recommendActivity
  }
};
</script>

<style>
.mainContants {
  margin: 0 100px;
}
.main{
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}
.slideLists{
  padding-bottom: 50px;
  border-bottom: 2px solid #ededed;
}
</style>

