ul{
    list-style: none;
}
.v-enter-active, .v-leave-active {
    transition: opacity 1s, transform 1s;
}
.v-enter{
    transform: translateX(-10px)
}
.v-leave-to{
    transform: translateY(10px)
}
.v-enter, .v-leave-to{
    opacity: 0;
}
.v-move{
    transition: 1s;
}
img{
    width: 200px;
}