<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="main.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <my-component></my-component>
        <button v-on:click="order=!order">변경하기</button>
        
        <transition-group tag="ul" class="list">
            <li v-for="item in sortedList" v-bind:key="item.id">
                {{item.name}}  {{item.price}}
            </li>
            <li v-for="item in fib" v-bind:key="item.id_fib">
                {{  item.id_fib  }}  {{  item.fibNum  }}
            </li>
            <li v-for="item in brackets" v-bind:key="item.id">
                {{  item.id  }}  {{  item.left  }} {{  item.right  }}
            </li>
            <li v-for= "item in pairs" v-bind:key= "item.id">
                {{  item.pair  }}
            </li>
        </transition-group>
        <input v-model.number="count">
        <button v-on:click="make_brackets(count)">input</button>
        <button v-on:click="Reset_list">reset</button>
        <button v-on:click="combination">calculate</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>

</html>