<template>
  <div class="filterBox">
    <h3>필터</h3>
    <div class="category">
      <h4>카테고리</h4>
    </div>
    <div class="budget">
        <div class="myBudget">예산 0&#8361; ~ {{myBudget|comma}}&#8361;</div>
      <input
        type="range"
        min="1"
        max="100"
        v-model="sliderValue"
        @input="changeBudget"
        class="slider"
        id="myRange"
      />
    </div>
    <div class="duration">
        <div>소요시간</div>
      <input
        type="range"
        min="1"
        max="100"
        v-model="durationSliderValue"
        @input="changeDuration"
        class="slider"
        id="myRange"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "filterBox",
  data(){
      return {
          sliderValue:100,
          durationSliderValue: 100,
          totalDuration: 10,
          totalBudget: 100000,
          myBudget: 0,
          duration: 0
      }
  },
  created(){
      this.myBudget = this.$store.getters.myBudget;
      this.duration = this.$store.getters.duration;
  },
  computed:{

  },
  methods:{
      changeBudget(){
          this.myBudget = this.totalBudget*(this.sliderValue/100)
          this.$store.commit('setMyBudget',this.myBudget)
      },
      changeDuration(){
          this.duration = this.totalDuration*(this.durationSliderValue/100)
          this.$store.commit('setDuration',this.duration)
      }
  }
};
</script>

<style scoped>
.filterBox {
  margin: 40px;
  display: inline-block;
  text-align: center;
  width: 40%;
  min-width: 170px;
}
h4 {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
}
.category{
  margin: 20px 0;
}
.budget{
  margin: 20px 0;
}
.duration{
  border-top: 1px solid #cccccc;
  margin: 20px 0;
  padding-top: 20px;
}
input[type=range] {
  -webkit-appearance: none;
  border: none;
  background: #2497E3;
  border-radius: 3px;
  cursor: pointer;
}
input[type=range]:focus{
  outline: none;
}
input[type=range]::-webkit-slider-thumb{
  margin-top: -8.5px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 0.1px #0d0d0d;
  border: 0px solid rgba(26, 0, 64, 0.76);
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #2497E3;
  border-radius: 1.3px;
  border: none;
}
</style>