<template>
  <div class="resultBox">
    <ul>
      <li v-for="(item, index) in calData" :key="index">
        <div
          class="image"
          :style='{ backgroundImage: "url(https://picsum.photos/id/"+item.image+"/500/400)"}'
        ></div>
        <div class="productInfo">
          <div class="reviews">후기 {{item.reviews}}개</div>
          <div class="wish" @click="checkWish(item.id)">
            <i class="fas fa-heart"></i>
          </div>
          <div class="wish checked" v-if="item.wish" @click="checkWish(item.id)">
            <i class="fas fa-heart"></i>
          </div>
          <div class="place">
            <i class="fas fa-map-marker-alt"></i>
            {{item.place}}
          </div>
          <div class="name">{{item.name}}</div>
          <div class="sub">{{item.sub}}</div>
          <div class="hash">
            <div
              class="hashChild"
              v-for="(item,index) in item.hash"
              :key="index"              
            >#{{item.hashChild}}</div>
          </div>
          <div class="duration">
            <i class="far fa-clock"></i>
            소요시간 {{item.duration}}시간
          </div>
          <div class="price">{{ item.price | comma }}&#8361;</div>
        </div>
      </li>
      <v-pagination v-model="curPageNum" :length="numOfPages" color="#2497E3"></v-pagination>
    </ul>
  </div>
</template>
<script>
export default {
  data() {
    return {
      listData: [],
      dataPerPage: 10,
      curPageNum: 1,
      searchText: "",
      tags: [],
      myBudget: 0,
      duration: 0
    };
  },
  created() {
    this.$axios.get("http://localhost:3000/searchData.json").then(response => {
      this.listData = response.data;
    });
    //this.searchText = this.$store.getters.searchText;
  },
  mounted() {
    //this.searchText = this.$store.getters.searchText;
    //console.log(this.searchText);
  },
  computed: {
    searchedText(){
      return this.$store.getters.searchText;
    },
    budget(){
      return this.$store.getters.myBudget;
    },
    setDuration(){
      return this.$store.getters.duration;
    },
    tagging(){
      return this.$store.getters.tags;
    },
    filteredListData() { 
      return this.budgetFilteredListData.filter(item => {
        return item.place.match(this.searchedText);
      });
    },
    hashFilteredListData() {
      console.log(this.filteredListData);
      return this.filteredListData.filter(item => {
        return item.hash.filter(item => {
          console.log(item)
          //console.log(item.hashChild.match('치킨'));
          return item.hashChild.match('치킨')
        })
      });
    },
    budgetFilteredListData() {
      return this.durationFilteredListData.filter(item => {
        return (item.price <= this.budget);
      });
    },
    durationFilteredListData(){
      return this.listData.filter(item => {
        return (item.duration <= this.setDuration);
      });
    },
    startOffset() {
      return (this.curPageNum - 1) * this.dataPerPage;
    },
    endOffset() {
      return this.startOffset + this.dataPerPage;
    },
    numOfPages() {
      return Math.ceil(this.hashFilteredListData.length / this.dataPerPage);
    },
    calData() {
      return this.hashFilteredListData.slice(this.startOffset, this.endOffset);
    }
  },
  methods: {
    checkWish(index) {
      //   console.log(index)
      this.listData[index-1].wish = !this.listData[index-1].wish;
    },

  }
};
</script>
<style scoped>
.resultBox {
  width: 100%;
  height: 100%;
}
.wish {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2px 4px;
  border-radius: 50%;
  color: #bababa;
}
.reviews {
  position: absolute;
  right: 50px;
  top: 25px;
  color: #8b8b8b;
  font-size: 12px;
}
.checked {
  color: #fe4c5a;
  z-index: 3;
}
.image {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 250px;
  height: 100%;
  background-size: 100%;
  display: inline-block;
}
.productInfo {
  padding: 20px;
  width: 100%;
  position: relative;
}
.place {
  color: #a2a2a2;
}
.name {
  font-size: 24px;
  font-weight: 500;
}
.sub {
  font-size: 18px;
}
.duration {
  color: #939393;
  font-size: 12px;
}
.price {
  font-weight: bold;
  font-size: 28px;
  display: block;
  float: right;
  margin-right: 10px;
}
ul {
  margin: 30px;
}
li {
  height: 200px;
  margin: 10px 0;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
}
.hashChild {
  display: inline-block;
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 3px 6px;
  margin: 3px;
  font-size: 12px;
  font-weight: bold;
}

</style>