<template>
  <div class="search">
    <div class="text">여행지역을 입력하세요</div>
    <div class="searchBox">
      <input id="searchInput" type="text" v-model="searchText" @keydown.enter="goSearch"/>
      <div class="searchButton" @click="goSearch">
        <i class="fas fa-search"></i>
      </div>
    </div>
    <div class="tagBox">
      <div class="addTag" v-for="(item, index) in tags" :key="index">#{{item.tag}} <i class="far fa-times-circle" @click="remove(index)"></i></div>
      <input
        class="addTagInput"
        type="text"
        v-model="tag"
        placeholder="태그추가"
        @keydown.enter="addTag()"
      />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      searchText: "",
      tag: "",
      tags: [{tag:''}]
    };
  },
  created() {
    this.searchText = this.$store.getters.searchText;
    this.tags = this.$store.getters.tags;
  },
  mounted: function() {
    var defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(-33.8902, 151.1759),
      new google.maps.LatLng(-33.8474, 151.2631)
    );
    var input = document.getElementById("searchInput");
    var options = {
      bounds: defaultBounds,
      types: ["(cities)"]
    };
    this.autocomplete = new google.maps.places.Autocomplete(input, options);
    this.autocomplete.addListener("place_changed", () => {
      let place = this.autocomplete.getPlace();
      let ac = place.address_components;
      let lat = place.geometry.location.lat();
      let lon = place.geometry.location.lng();
      let city = ac[0]["short_name"];
      this.$store.commit("setSearchText", `${city}`);
      this.$store.commit("setTags",this.tags);
      //console.log(`${city}`);
    });
  },
  methods: {
    addTag() {
      //console.log(this.tags);
      this.tags.push({
        tag: this.tag
      });
      this.tag = ''
    },
    remove(index){
        //console.log(this.tags);
        this.tags.splice(index,1)
    },
    goSearch(){
      this.$store.commit('setSearchText',this.searchText)
    }
  }
};
</script>
<style scoped>
.search {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  margin-top: 40px;
  padding: 10px 200px;
}
.text {
  font-size: 12px;
  font-weight: 800;
}
.searchBox {
  display: flex;
}
#searchInput {
  height: 35px;
  font-size: 24px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #c6c6c6;
}
.searchButton {
  display: inline-block;
}
.fa-search {
  font-size: 30px;
  color: #cccccc;
}
.addTag {
  display: inline-block;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  margin-right: 3px;
}
.addTag:nth-child(1){
    display: none;
}
.addTagInput {
  width: 75px;
  display: inline-block;
  font-size: 12px;
  padding: 2px 0 2px 5px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  margin-right: 3px;
}
.tagBox {
  display: flex;
  margin-top: 10px;
}
input:focus {
  outline: none;
}
</style>